﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

#Image2{
    max-height: 100px;
}

.left{
    float:left;
}

.right{
    float: right;
}

.footer-nav{
    list-style-type:none;
}
.footer-nav li{
    display: inline;
    padding-left: 20px;
}

.footer-nav a{
    text-decoration: none;
    color: black;
}

.footer-nav a:hover{
    color: #660003;
    font-weight: 500;
}

/*Limit Size of Text Area*/
textarea{
    width: 300px;
    height: 200px;
    max-height: 250px;
    max-width: 350px;
}